* {
    margin: 0;
    padding: 0;
}

.center
{
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.header {
    width: 1440px;
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__heading {
        width: 789px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 217px;
    }
    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 481px;
        padding-top: 32px;
        padding-bottom: 44px;
    }
    &__button {
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-color: transparent;
    }
    &__buttonbox {
        width: 234.063px;
        height: 48.603px;
    }
}

.menu {
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #000915;
    padding-bottom: 128px;
    &__item_1 {
        width: 379px;
        border-radius: 16px;
        background-image: url(img/game1.jpg);
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        &_text {
            height: 31.64px;
            width: 79px;
            display: block;
            padding: 32px;
        }
    }
    &__item_2 {
        width: 378px;
        border-radius: 16px;
        background-image: url(img/game2.jpg);
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        &_text {
            height: 31.64px;
            width: 84px;
            display: block;
            padding: 32px;
        }
    }
    &__item_3 {
        width: 379px;
        border-radius: 16px;
        background-image: url(img/game3.jpg);
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        &_text {
            height: 31.64px;
            width: 84px;
            display: block;
            padding: 32px;
        }
    }
}

@import 'mobile';